{
  "parserOptions": {
    "ecmaVersion": 2019, // ecma 문법 버전
    "sourceType": "module", // import, export 사용
    "ecmaFeatures": {
      "jsx": true // jsx 사용
    }
  },
  "env": {
    "browser": true, // 브라우저 사용
    "node": true // 브라우저도 노드 사용함
  },
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "import",
    "react",
    "react-hooks"
  ],
  "rules": {
    "import/prefer-default-export" : 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/require-default-props": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "jsx-a11y/label-has-associated-control": 0
  }
}